---
layout: layout
---
<style>
    .intro-header .site-heading {
        margin: 50px;
    }
    <% if (page["cdn"] === 'header-off'){%>
    header.intro-header {
        background-image: url('<%= page["header-img"] || config["post-default-img"]%>');
    }

    <%} else {%>
    header.intro-header {
        background-image: url('<%- page["header-img"]?(config["cdn-url"]?config["cdn-url"]:"")+page["header-img"]+config["clip-content"] : config["post-default-img"]%>')
    }
    <% } %>
</style>

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading text-center">
                    <h1>Privacy Policy</h1>
                    <span class="subheading"><%= page.description || config.subtitle || "" %></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            
<h3>Privacy policy</h3>
<p>Your privacy is critically important to us.</p>

<p>It is Tuluver.github.io policy to respect your privacy regarding any information we are publishing on our website.</p>

<p>This Privacy Policy applies to <span style="color: darkred;">https://tuluver.github.io</span></p>

<p>All the posts and code are being managed by one person. There is no option for any user to login</p>

<h3>Website Visitors</h3>
<p>Like most website operators, Tuluver.github.io collects non-personally-identifying information of the sort that web browsers and servers typically make available.</p>

<p>Such as the browser type, language preference, referring site, and the date and time of each visitor request.</p>

<p>Tuluver.github.io's purpose in collecting non-personally identifying information is to better understand how Tuluver.github.io visitors use its website.</p>

<p>Tuluver.github.io's also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users and for users leaving comments on <span style="color: darkred;">https://tuluver.github.io</span> blog posts.</p>

<p>All these details are collected by google analytics to get a statistics on our blog visits.</p>

<h3>Security and Protection of Certain Personally-Identifying Information</h3>
<p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure.</p>

<p>Since we don't ask our visitors to provide any data through this site, we do not need any specific data protection policy.</p>

<h3>Advertisements</h3>
<p>Ads appearing on our website may be delivered to users by advertising partners, who may set cookies.</p>

<p>These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer.</p>

<p>This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you.</p>

<p>This Privacy Policy covers the use of cookies by Tuluver.github.io and does not cover the use of cookies by any advertisers.</p>

<h3>Links To External Sites</h3>
<p>Our pages may contain links to external sites that are not operated by us.</p>

<p>If you click on a third party link, you will be directed to that third party’s site.</p>

<p>We strongly advise you to review the Privacy Policy and the terms and conditions of every site you visit.</p>

<p>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.</p>

<h3>Aggregated Statistics</h3>
<p>Tuluver.github.io may collect statistics about the behavior of visitors to its website.</p>

<p>Tuluver.github.io may display this information publicly or provide it to others.</p>

<p>However, Tuluver.github.io does not disclose your personally-identifying information.</p>

<h3>Affiliate Disclosure</h3>
<p>This site uses affiliate links and does earn a commission from certain links. This does not affect your purchases or the price you may pay.</p>

<h3>Contact Us</h3>
<p>If you have any queries related to the privacy policy or usage or capture of information feel free to contact us - <span style="color: darkred;">tuluver.github.io@gmail.com</span></p>


<p>Regards,</p>

<p style="color: rgb(39, 11, 117);">Tuluver.github.io</p>
            
        </div>
    </div>
</div>
